body{
    background-color: hsl(47, 88%, 63%);
   display: flex;
   justify-content: center;
   height: 100vh;
   align-items: center;

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 8px 0px -4px #000000;
    padding: 20px;
    margin-inline: auto ;
    min-width: 200px;
    max-width: 350px;
}

section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button{
    margin-top: 8px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    border: none;
    color: black;
    padding: 3px 5px;
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    display: inline-block;
    
}


.botao p{
    font-size: 10px;
    margin-top: 10px;
}

h1{
    margin-top: 10px;
}

.images img{
    width: 100%;
    border-radius: 10px;
}

.info p{
    margin-top: 10px;
    color: hsl(0,0%,50%);
}


.avatar p::before{
    margin-top: 20px;
    content: "";
    background: url(/images/image-avatar.webp) center center no-repeat;
    display: inline-block;
    width: 120px;
    height: 65px ;
}

.avatar p{
    display: flex;
    align-items: center;
   font-size: 16px;
   margin-top: 15px;
   font-weight: bold;
}