body{
    background-color: hsl(47, 88%, 63%);
   
}

main{
    background-color: white;
    padding: 20px;
    margin-inline: auto ;
    min-width: 200px;
    max-width: 350px;
}

section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button{
    background-color: hsl(47, 88%, 63%);
    border: none;
    color: black;
    padding: 3px 5px;
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    display: inline-block;
    
}

.botao p{
    font-size: 10px;
}

.images img{
    width: 100%;
}

.info p{
    color: hsl(0,0%,50%);
}


.avatar p::before{
    content: url(images/image-avatar.webp);
}

